html,
body,
#root,
.app-wrapper {
  height: 100%;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
}

img {
  height: 100%;
  width: 100%;
  object-fit: scale-down;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: #9ca3af;
  grid: 10px;
}

.title {
  font-size: 1.25rem;
}

.rules {
  font-size: 1.05rem;
}

.header-right {
  font-size: 1.125rem;
}

.main-content {
  flex: 1 1 100%;
  background-color: #1f2937;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 10px;
  gap: 10px;
}

.card {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 1px solid #333;
  background-color: #f8fafc;
}

.card-image {
  align-self: center;
  max-height: 300px;
  max-width: 250px;
}

.card-name {
  text-align: center;
}

.prompt-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 25px;
}

.prompt {
  font-size: 1.5rem;
  padding: 20px;
  background-color: #f8fafc;
}

.normal-difficulty-prompt-text,
.hard-difficulty-prompt-text {
  margin-bottom: 20px;
}

.bold {
  font-weight: bold;
}

.toggle-difficulty {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  gap: 5px;
}

.toggle-difficulty .material-icons {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 5rem;
  padding: 0;
}

.normal-difficulty-toggle {
  color: red;
}

.hard-difficulty-toggle {
  color: blue;
}

@media screen and (max-width: 767px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    padding-right: 50px;
  }
}
